@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

@font-face {
    font-family: 'calligraffitiregular';
    src: url('../fonts/Calligraffiti-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MaplestoryOTFLight";
    src: url("../fonts/MaplestoryOTFLight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}