.headerContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    width: 90%;
}

.headerImage {
    text-align: center;
}

.headerImage > img {
    width: 100pt;
}

.headerText {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerTitle {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'calligraffitiregular';
    font-size: 30pt;
}

.headerDesc {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.creditText {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10pt;
}
